# Assignment # 05

##### Q. 1) Write a for loop to print numbers from 1 to 10.

In [6]:
for i in range(1,11):
     print(i)

1
2
3
4
5
6
7
8
9
10

#### Q. 2) Write a while loop to print even numbers from 2 to 20.

In [8]:
for i in range(2,22,2):
     print(i)

2
4
6
8
10
12
14
16
18
20

#### Q. 3) Using a loop, print the multiplication table of 5.

In [10]:
for i in range(1,11):
     print(5,"X",i ,"=",5*i)

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

#### Q. 4) Create a tuple of 5 fruits and print the first and last fruit.

In [11]:
fruits = ("apple", "banana", "orange", "mango", "grape")

print("First fruit:", fruits[0])
print("Last fruit:", fruits[-1])

First fruit: apple
Last fruit: grape

#### Q. 5) Given a tuple:
      t = (10, 20, 30, 40, 50)
      Use a loop to print each element.

In [18]:

t = (10, 20, 30, 40, 50)
for i,e in enumerate(t):
    print("Index",i,"Value", e)

Index 0 Value 10
Index 1 Value 20
Index 2 Value 30
Index 3 Value 40
Index 4 Value 50

#### Q.6) Write a function that prints “Hello Python”.

In [22]:
def greeting():
    print("Hello python")

greeting()

Hello python

#### Q. 7) Write a function that prints the table of 2.

In [32]:
def table():
    for i in range(1,11):
     print(2,"X",i ,"=",2*i)

table()

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

#### Q. 8) Write a function that takes one number and prints whether it is even or odd.

In [30]:
def CheckEvenOdd(num):
    if num % 2 == 0:
        print(num,": your num Is Even")
    else :
        print(num,": your num Is Odd")  


CheckEvenOdd(9)
CheckEvenOdd(98)

9 : your num Is Odd
98 : your num Is Even

#### Q. 9) Write a function that takes one number and prints its multiplication table.

In [31]:
def table(table):
    for i in range(1,11):
     print(table,"X",i ,"=",table*i)

table(7)

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70

#### Q. 10) Write a function called is_even() that takes a number and prints "Even" or "Odd".

In [33]:
def is_even(num):
    if num % 2 == 0:
        print(num,": your num Is Even")
    else :
        print(num,": your num Is Odd")

is_even(98)

98 : your num Is Even